/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  background: #171821;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.20);
}

html, body {
  font-family: 'Inter', sans-serif;
  color: white;
}